<?xml version="1.0" encoding="utf-8"?>
    <manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="team_project.team_moa" >

    <permission
        android:name="team_project.team_moa.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

        <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
        <uses-permission android:name="com.team.two.fastorder.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

        <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/MyMaterialTheme" >

            <activity
                android:name=".activity.LoginActivity"
                android:label="@string/app_name"
                android:windowSoftInputMode="stateAlwaysHidden" >



            </activity>

            <activity
                android:name=".activity.MainActivity"
                android:label="@string/app_name">

                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />

                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>


                <meta-data
                    android:name="android.app.default_searchable"
                    android:value=".SearchActivity" />

            </activity>

            <meta-data android:name="android.app.default_searchable"
                android:value=".SearchActivity" />

            <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyAFvdTiFk0ZLI84Ytt1aaNYjpM8D0ASg9g"/>
            <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>

            <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
                 App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
            <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />


            <activity android:name=".activity.FavoriteMemberFragment" >
            </activity>

            <activity
                android:name=".activity.RegisterActivity">
            </activity>

            <activity
                android:name=".activity.MemberActivity">
            </activity>

            <activity android:name=".activity.SingleItemView" >
            </activity>

            <activity android:name=".activity.Chatting" >
            </activity>

            <activity
                android:name=".activity.SettingActivity">
            </activity>
            <activity
                android:name=".activity.Setting_suggest">
            </activity>
            <activity
                android:name=".activity.Setting_notice">
            </activity>
            <activity
                android:name=".activity.Setting_recommend">
            </activity>
            <activity
                android:name=".activity.Setting_question">
            </activity>
            <activity
                android:name=".activity.Setting_leave">
            </activity>

            <activity
                android:name=".activity.Splash"
                android:theme="@android:style/Theme.NoTitleBar">
            </activity>

            <activity
                android:name=".activity.MypageFragment">
            </activity>
            <activity
                android:name=".activity.MypageCondition">
            </activity>
            <activity
                android:name=".activity.MypageInfo">
            </activity>
            <activity
                android:name=".activity.MypageJoin">
            </activity>
            <activity
                android:name=".activity.MypageMenu">
            </activity>


        </application>

    </manifest>